@use "../../foundation/colors";
@use "../../foundation/mixins";


.Cart-item {
    @include mixins.flex-space-between();
    column-gap: 68px;
    &__info {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
    &__image-container {
        @include mixins.square(80px);
    }
    &__label {
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 3px;
        width: 280px;
    }
    &__description {
        color: colors.$light-color;
        @include mixins.no-indentation();
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        width: 280px;
    }

    &__interactive-bar {
        @include mixins.flex-space-between();
        width: 378px;
    }

    &__counter {
        display: flex;
        align-items: center;
        column-gap: 12px;
    }
    &__counter-state {
        @include mixins.no-indentation();
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
    }
    &__decrease-button {
        @include mixins.no-indentation();
        @include mixins.square(32px);
        border-radius: 50%;
    }
    &__encrease-button {
        @include mixins.no-indentation();
        @include mixins.square(32px);
        border-radius: 50%;
    }

    &__price {
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
    }

    &__clear-button {
        @include mixins.square(32px);
        border-radius: 50%;
    }
}