// color constants

$main-color: #FE5F1E;
$bg-color: #FFDF8C;
$dark-color: #282828;



// derived colors

$main-color-5-percent: scale-color($main-color, $alpha: -95%);
$lighter-color: scale-color($dark-color, $lightness: +95%);
$light-color: scale-color($dark-color, $lightness: +40%);



// global styles

body {
    background-color: $bg-color;
    @extend %no-margin-padding;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: none;
    padding: 0 48px 96px 67px;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    @extend %no-margin-padding;
}

li {
    list-style: none;
}

.interactive-bar {
    @extend %flex-space-between-element;
    width: 100%;
}

.section-label {
    font-size: 32px;
    line-height: 39px;
    font-weight: 700;
}



// templates

%no-margin-padding {
    margin: 0;
    padding: 0;
}

%flex-centered-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-space-between-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%bordored-box {
    box-sizing: border-box;
}

%filled-main-color {
    background-color: $main-color;
    color: white;
}

%bordered-main-color {
    background-color: white;
    border: 1px solid $main-color;
    color: $main-color;
}

%filled-dark {
    background-color: $dark-color;
    color: white;
}

%smooth-block {
    background-color: white;
    border-radius: 10px;
}

%button-text-preset {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}

%option-text-preset {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
}

%big-text-preset {
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
}



// mixins

@mixin block($width, $height) {
    width: $width;
    height: $height;
}

@mixin round-button($width, $height) {
    @include block($width, $height);
    @if (not $width) {
        width: auto;
        padding: 0 30px;
    };
    @extend %button-text-preset;
    @extend %flex-centered-element;
    @extend %bordored-box;
    border-radius: 30px;
    cursor: pointer;
}

@mixin square($size) {
    width: $size;
    height: $size;
}



// components styles

.App {
    @extend %smooth-block;
    @extend %bordored-box;

    max-width: 1340px;
    width: calc(100% - 90px);
    margin-top: 43px;
    margin-bottom: 63px;
    
    font-family: sans-serif;
}
@media screen and (max-width: 1024px) {
    .App {
        width: calc(100% - 69px);
        margin-top: 33px;
        margin-bottom: 48px;
    }
}
@media screen and (max-width: 768px) {
    .App {
        width: 100%;
        margin: 0;
        border-radius: 0px;
    }
}

header {
    @extend %flex-space-between-element;
    margin-right: 38px;
    margin-left: 77px;
    padding: 52px 0;

    .logo-container {
        display: flex;
        align-items: center;
        cursor: pointer;
        &__image {
            @include square(38px);
            margin-right: 17px;
        }
        .logo-label {
            color: $dark-color;
            font-size: 24px;
            line-height: 29px;
            font-weight: 800;
            @extend %no-margin-padding;
        }
        .logo-description {
            color: $light-color;
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            @extend %no-margin-padding;
        }
    }

    .cart-button {
        @include round-button(150px, 50px);
        @extend %filled-main-color;
        &__image {
            @include square(16px);
        }
        &__separator {
            height: 25px;
            width: 1px;
            background-color: white;
            opacity: 0.25;
            margin: 0 13px;
        }
        &__inputs {
            margin-left: 8px;
        }
    }
}
@media screen and (max-width: 1024px) {
    header {
        margin-right: 30px;
        margin-left: 60px;
        padding: 40px 0;
    }
}
@media screen and (max-width: 660px) {
    header {
        margin-right: 20px;
        margin-left: 20px;
        padding: 20px 0;
    }
}
@media screen and (max-width: 540px) {
    header {
        .logo-description {
            display: none;
        }
    }
}
@media screen and (max-width: 450px) {
    header {
        .logo-container {
            .logo-label {
                width: 120px;
                line-height: 25px;
            }
        }
    }
}
@media screen and (max-width: 380px) {
    header {
        .logo-container {
            .logo-label {
                width: 80px;
                font-size: 18px;
                line-height: 20px;
            }
        }
        .cart-button {
            @include round-button(75px, 40px);
            &__separator {
                display: none;
            }
            &__cost {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 280px) {
    header {
        margin-right: 15px;
        margin-left: 15px;
        padding: 10px 0;
        .logo-container {
            .logo-label {
                width: 70px;
                font-size: 14px;
                line-height: 16px;
            }
            &__image {
                @include square(30px);
                margin-right: 10px;
            }
        }
        .cart-button {
            @include round-button(60px, 35px);
        }
    }
}


.categories-menu {
    display: flex;
    .category {
        @include round-button(false, 46px);
        &.active {
            @extend %filled-dark;
        }
        margin-right: 9px;
    }
}

.sort-menu {
    @extend %flex-centered-element;
    position: relative;

    .sort-menu__marker {
        @include square(10px);
        margin-right: 7px;
        img {
            @extend %flex-centered-element;
            transform: rotate(180deg);
            &.active {
                transform: rotate(0);
            }
        }
    }

    .sort-menu__text {
        @extend %option-text-preset;
        cursor: default;
        .sort-menu__key {
            cursor: pointer;
            color: $main-color;
            font-weight: 400;
            border-bottom: 1px dashed $main-color;
            margin-left: 8px;
        }
    }

    .sort-menu__popup {
        @extend %smooth-block;
        position: absolute;
        bottom: -130px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        padding: 13px 0;
        .sort-menu__popup-item {
            @include block(132px, 38px);
            @extend %option-text-preset;
            @extend %flex-space-between-element;
            font-weight: 400;
            padding: 0 14px;
            cursor: pointer;
            &.active,  &:hover {
                background-color: $main-color-5-percent;
            }
            &.active {
                color: $main-color;
                font-weight: 700;
            }
        }
        display: none;
        &.active {
            display: block;
        }
    }
}

.pizza-galary {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    justify-content: space-between;
    grid-row-gap: 65px;
    &__item {
        @extend %flex-centered-element;
        flex-direction: column;
        
        &__image {
            @include square(260px);
            margin-bottom: 11px;
            background-color: $dark-color;
        }
        
        &__label {
            @extend %no-margin-padding;
            font-size: 20px;
            line-height: 24px;
            font-weight: 800;
        }
        
        &__price {
            @extend %big-text-preset;
        }
        
        &__order-button {
            @include round-button(false, 40px);
            @extend %bordered-main-color;
            transition: 0.2s;
            .order-button-counter {
                @include square(22px);
                @extend %filled-main-color;
                @extend %flex-centered-element;
                display: none;
                &.active {
                    display: flex;
                }
                border-radius: 50%;
                font-size: 13px;
                margin-left: 7px;
            }
            &:hover {
                @extend %filled-main-color;
            }
        }
        
        &__options {
            @extend %smooth-block;
            @extend %bordored-box;
            background-color: $lighter-color;
            width: 100%;
            
            display: flex;
            flex-direction: column;
            row-gap: 7px;
            
            margin-top: 22px;
            margin-bottom: 17px;
            padding: 7px 5px;
            
            .option-dough, .option-size {
                display: flex;
                column-gap: 6px;
                height: 32px;
                
                .options-item {
                    width: 50px;
                    flex-grow: 1;

                    @extend %flex-centered-element;
                    @extend %option-text-preset;
                    
                    border-radius: 5px;
                    color: $dark-color;
                    cursor: pointer;
                    
                    &.active {
                        background-color: white;
                    }
                    
                    &.unavailable {
                        color: $light-color;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1340px) {
    .pizza-galary {
        grid-template-columns: repeat(3, 280px);
    }
}

@media screen and (max-width: 1080px) {
    .pizza-galary {
        grid-template-columns: repeat(2, 280px);
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 840px) {
    .pizza-galary {
        grid-template-columns: 280px;
    }
}

@media screen and (max-width: 420px) {
    .pizza-galary {
        grid-template-columns: 1fr;
    }
}