@use "foundation/colors";
@use "foundation/mixins";
@use "foundation/general";


// components styles

.App {
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 1340px;
    width: calc(100% - 90px);
    margin-top: 43px;
    margin-bottom: 63px;
    font-family: sans-serif;
    &__header {
        margin-right: 38px;
        margin-left: 77px;
    }
    &__wrapper {
        padding: 0 48px 96px 67px;
    }
    &__cart-section {
        padding: 47px 0 35px 58px;
        @include mixins.flex-centered();
    }
    &__empty-cart-wrapper {
        padding: 39px 78px 32px 0;
        @include mixins.flex-centered();
    }
    @media screen and (max-width: 1024px) {
        width: calc(100% - 69px);
        margin-top: 33px;
        margin-bottom: 48px;
        &__header {
            margin-right: 30px;
            margin-left: 60px;
        }
        &__wrapper {
            padding: 0 30px 70px 60px;
        }
    }
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 0;
        border-radius: 0px;
    }
    @media screen and (max-width: 660px) {
        &__header {
            margin-right: 20px;
            margin-left: 20px;
        }
        &__wrapper {
            padding: 0 20px 40px 20px;
        }
    }
    @media screen and (max-width: 400px) {
        &__interactive-bar {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;
        }
    }
}


.pizza-gallery {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    justify-content: space-between;
    grid-row-gap: 65px;
    @media screen and (max-width: 1400px) {
        grid-template-columns: repeat(3, 280px);
    }
    @media screen and (max-width: 1080px) {
        grid-template-columns: repeat(2, 280px);
        justify-content: space-evenly;
    }
    @media screen and (max-width: 840px) {
        grid-template-columns: 280px;
        grid-row-gap: 45px;
    }
    @media screen and (max-width: 420px) {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }
}

.pizza {
    @include mixins.flex-centered();
    flex-direction: column;
    &__image-container {
        @include mixins.square(260px);
        margin-bottom: 11px;
    }
    &__label {
        @include mixins.no-indentation();
        font-size: 20px;
        line-height: 24px;
        font-weight: 800;
        text-align: center;
    }
    &__options {
        display: flex;
        flex-direction: column;
        row-gap: 7px;
        width: 100%;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: colors.$lighter-color;
        margin-top: 22px;
        margin-bottom: 17px;
        padding: 7px;
    }
    &__options-row {
        display: flex;
        column-gap: 6px;
        height: 32px;
    }
    &__options-item {
        @include mixins.flex-centered();
        width: 0;
        flex-grow: 1;
        font-size: 14px;
        line-height: 17px;
        font-weight: 700;
        border-radius: 5px;
        color: colors.$dark-color;
        cursor: pointer;
    }
    &__options-item_active {
        background-color: white;
    }
    &__options-item_unavailable {
        color: colors.$light-color;
        pointer-events: none;
    }
    &__price {
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
    }
    &__order-button {
        @include mixins.block(auto, 40px);
        transition: 0.2s;
    }
    &__order-button:hover {
        @include mixins.main-colored();
    }
    &__order-button-text {
        margin: 0;
    }
    &__order-button-counter {
        @include mixins.square(22px);
        @include mixins.main-colored();
        @include mixins.flex-centered();
        border-radius: 50%;
        font-size: 13px;
        margin-left: 7px;
        display: none;
    }
    &__order-button-counter_active {
        display: flex;
    }
    @media screen and (max-width: 380px) {
        &__image-container {
            @include mixins.square(200px);
        }
        &__label {
            text-align: center;
        }
        &__label {
            font-size: 16px;
            line-height: 18px;
        }
    }
    @media screen and (max-width: 260px) {
        &__image-container {
            @include mixins.square(160px);
        }
        &__order-button {
            @include mixins.block(auto, 32px);
        }
        &__order-button-text {
            font-size: 14px;
            line-height: 14px;
        }
        &__order-button-counter_active {
            display: none;
        }
        &__price {
            font-size: 16px;
            line-height: 16px;
        }
    }
}

.Cart {
    width: 820px;

    &__section-label {
        display: flex;
        align-items: center;
        column-gap: 18px;
    }
    &__section-label-icon-container {
        @include mixins.square(28px);
        @include mixins.flex-centered();
        path {
            fill: colors.$dark-color;
        }
    }
    &__section-label-text {
        @include mixins.no-indentation();
    }

    &__clear-button {
        column-gap: 10px;
    }
    &__clear-button-icon-container {
        @include mixins.square(16px);
        @include mixins.flex-centered();
    }
    &__clear-button-text {
        @include mixins.no-indentation();
    }

    &__items {
        padding-top: 60px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }

    &__footer {
        @include mixins.flex-space-between();
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 40px;
    }
    &__counter-state {
        font-weight: 700;
    }
    &__price-state {
        font-weight: 700;
        color: colors.$main-color;
    }

    &__back-button {
        @include mixins.block(210px, 55px);
    }
    &__pay-button {
        @include mixins.block(210px, 55px);
    }
}

.empty-cart {
    width: 550px;
    text-align: center;
    &__section-label {
        @include mixins.no-indentation();
    }
    &__text {
        margin-top: 10px;
        margin-bottom: 47px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: colors.$light-color;
    }
    &__image-container {
        @include mixins.block(280px, 240px);
        margin-bottom: 90px;
        margin-left: auto;
        margin-right: auto;
    }
    &__back-button {
        @include mixins.block(210px, 46px);
        display: inline-block;
    }
}

.Cart-item {
    @include mixins.flex-space-between();
    column-gap: 68px;
    &__info {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
    &__image-container {
        @include mixins.square(80px);
    }
    &__label {
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 3px;
        width: 280px;
    }
    &__description {
        color: colors.$light-color;
        @include mixins.no-indentation();
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        width: 280px;
    }

    &__interactive-bar {
        @include mixins.flex-space-between();
        width: 378px;
    }

    &__counter {
        display: flex;
        align-items: center;
        column-gap: 12px;
    }
    &__counter-state {
        @include mixins.no-indentation();
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
    }
    &__decrease-button {
        @include mixins.no-indentation();
        @include mixins.square(32px);
        border-radius: 50%;
    }
    &__encrease-button {
        @include mixins.no-indentation();
        @include mixins.square(32px);
        border-radius: 50%;
    }

    &__price {
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
    }

    &__clear-button {
        @include mixins.square(32px);
        border-radius: 50%;
    }
}