// color constants

$main-color: #FE5F1E;
$bg-color: #FFDF8C;
$dark-color: #282828;
$light-color: #7D7D7D;

// derived colors

$main-color-5-percent: scale-color($main-color, $alpha: -95%);



// global styles

body {
    background-color: $bg-color;
    margin: 0;
}

.wrapper {
    padding-left: 67px;
    padding-right: 48px;
    padding-bottom: 96px;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    @extend %no-margin-padding;
}

li {
    list-style: none;
}

.App {
    max-width: 1340px;
    
    margin-top: 43px;
    margin-bottom: 63px;
    margin-left: 45px;
    margin-right: 45px;

    @extend %smooth-block;
    font-family: sans-serif;
}

.interactive-bar {
    @extend %flex-space-between-element;
}



// templates

%no-margin-padding {
    margin: 0;
    padding: 0;
}

%flex-centered-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-space-between-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%bordored-box {
    box-sizing: border-box;
}

%filled-main-color {
    background-color: $main-color;
    color: white;
}

%bordered-main-color {
    background-color: white;
    border: 1px solid $main-color;
    color: $main-color;
}

%filled-dark {
    background-color: $dark-color;
    color: white;
}

%smooth-block {
    background-color: white;
    border-radius: 10px;
}

%button-text-preset {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}

%option-text-preset {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
}



// mixins

@mixin block($width, $height) {
    width: $width;
    height: $height;
}

@mixin round-button($width, $height) {
    @include block($width, $height);
    @if (not $width) {
        width: auto;
        padding: 0 30px;
    };
    @extend %button-text-preset;
    @extend %flex-centered-element;
    @extend %bordored-box;
    border-radius: 30px;
    cursor: pointer;
}

@mixin square($size) {
    width: $size;
    height: $size;
}



// components styles

header {
    @extend %flex-space-between-element;
    margin-right: 38px;
    margin-left: 77px;
    padding: 52px 0;

    .logo-container {
        display: flex;
        align-items: center;
        cursor: pointer;
        .logo-container__image {
            @include square(38px);
            margin-right: 17px;
        }
        .logo-label {
            color: $dark-color;
            font-size: 24px;
            line-height: 29px;
            font-weight: 800;
            @extend %no-margin-padding;
        }
        .logo-description {
            color: $light-color;
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            @extend %no-margin-padding;
        }
    }

    .cart-button {
        @include round-button(150px, 50px);
        @extend %filled-main-color;
        .cart-button__image {
            @include square(16px);
        }
        .cart-button__separator {
            height: 25px;
            width: 1px;
            background-color: white;
            opacity: 0.25;
            margin: 0 13px;
        }
        .cart-button__inputs {
            margin-left: 8px;
        }
    }
}

.categories-menu {
    display: flex;
    .category {
        @include round-button(false, 46px);
        &.active {
            @extend %filled-dark;
        }
        margin-left: 9px;
    }
}

.sort-menu {
    @extend %flex-centered-element;
    position: relative;

    .sort-menu__marker {
        @include square(10px);
        margin-right: 7px;
        img {
            @extend %flex-centered-element;
            transform: rotate(180deg);
            &.active {
                transform: rotate(0);
            }
        }
    }

    .sort-menu__text {
        @extend %option-text-preset;
        cursor: default;
        .sort-menu__key {
            cursor: pointer;
            color: $main-color;
            font-weight: 400;
            border-bottom: 1px dashed $main-color;
            margin-left: 8px;
        }
    }

    .sort-menu__popup {
        @extend %smooth-block;
        position: absolute;
        bottom: -130px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
        padding: 13px 0;
        .sort-menu__popup-item {
            @include block(132px, 38px);
            @extend %option-text-preset;
            @extend %flex-space-between-element;
            font-weight: 400;
            padding: 0 14px;
            cursor: pointer;
            &.active,  &:hover {
                background-color: $main-color-5-percent;
            }
            &.active {
                color: $main-color;
                font-weight: 700;
            }
        }
        display: none;
        &.active {
            display: block;
        }
    }
}